.App {
    text-align: center;
    font-weight: 500;
    display: flex;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(30, 30, 30);
    font-smooth: always;
    color: white;
    justify-content: center;
  }
  .form {
    max-width: 30rem;
  }
  .FearnGreed {
    width: 2px;
    height: 15 rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .smaller-text {
    text-align: center;
-ms-text-size-adjust: 20%;
font-weight: 700;
  font-size: 0.7rem;

  }
  
  .formLabel {
    margin-bottom: 0.25rem;
  }
  
  .formField {
    padding: 0.5rem;
  }
  
  .formFieldError {
    border: 1px solid #e11d48;
  }
  
  .formFieldErrorMessage {
    color: #e11d48;
  }
  
  .formActions {
    display: flex;
    justify-content: flex-end;
  }
  
  .formSubmitBtn {
    padding: 0.5rem 0.7rem;
    min-width: 5rem;
    background-color: #9333ea;
    color: #f3e8ff;
    text-transform: uppercase;
    font-weight: 500;
  }
  .User {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 14rem;
    height: 4rem;
  }
  .social-media-icon {
    color: black; /* Set the desired color here */
  }
  
  .justifyCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    
  }
.padding{
    padding: 4rem 
}
  .overflowHidden{
    overflow: hidden;
  }
  
  .padding{
    padding: 1.5rem;
  }
  .Tickers {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    display: flex;
    flex-direction: row;
    width: 75rem;
    height: 7rem;
    border-radius: 10px;
    font-size: 16px;
  }
  .Notifs {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    display: flex;
    flex-direction: row;
    height: 7rem;
    width: 17rem;
  }
  
  .Fear {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    height: 12rem;
    width: 8%;
  }
  .Liveprices {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    width: 16rem;
    height: 16rem;
    box-shadow: 3px 3px 10px 10px #7aacce;
    font-size: 10px;
  }
  .Winlose {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    width: 16rem;
    height: 16rem;
    box-shadow: 3px 3px 10px 10px #2c3f6d;
  }
  .terms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will center the content vertically as well */
  }
  
  .Goi {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    width: 16rem;
    height: 16rem;
    box-shadow: 3px 3px 10px 10px #2c3f6d;
  }
  .lol{
width:65%;
display: flex;
flex-direction: row;
  justify-content: center;
  border:2px solid #1c6ea4;
  text-align: center;
  }
  .Liquidations {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    height: 16rem;
    width: 16rem;
    box-shadow: 3px 3px 15px 12px #000000;
  }
  .Charts {
    padding: 10px;
    margin: 10px;
    border: 3px solid #1d5ab9;
    height: 16rem;
    border: 3px groove #1c6ea4;
    border-radius: 6px;
    box-shadow: 3px 3px 15px 12px #000000;
    border-color: coral;
    align-items: left;
    justify-content: left;
    box-shadow: 3px 3px 10px 10px #2c3f6d;
  
    border: 2px solid #1c6ea4;
    width: 40rem;
    height: 53rem;
  }
  .Card {
    border: 5px solid rgb(32, 216, 87);
    height: 30%;
    padding: 5px;
    display: flex;
    flex-wrap: column;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .wrapper {
    width: fit-content;
    max-width: 100px;
    height: fit-content;
    border: 2px solid rgb(134, 133, 133);
    margin-top: 10px;
    margin-left: 10px;
    background: white;
    text-align: left;
  
    /* max-height: 100px; */
  }
  .Mcap {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    height: 7rem;
    width: 25rem;
    box-shadow: 2px 2px 3px 3px #0c4d79;
  }
  .BestPerformers {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    width: 16rem;
    height: 16rem;
    box-shadow: 3px 3px 10px 10px #2c3f6d;
  }
  .container {
    overflow-x: hidden; /* Hide horizontal overflow */
  }
  
  .container img {
    max-width: 100%; /* Limit image width to the container's width */
    height: auto; /* Maintain the aspect ratio */
  }
  .MiniChart {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    height: 9rem;
    width: 37rem;
    box-shadow: 7px 9px 10px 10px #3a5d7e;
  }
  .Goi {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    height: 11rem;
    width: 8%;
  }
  
  .Header {
    color: blue;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 4px 4px #1c6ea4;
    text-align: center;
    border-radius: 3rem;
    margin: 2rem;
    color: white;
  }
  
  .flexRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    image {
      width: 10%;
      height: 10%;
    }
  }
  .flexColumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .Eth {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/ethereum-eth-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .Btc {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/bitcoin-btc-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .Doge {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/dogecoin-doge-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .Ada {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/cardano-ada-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .Dai {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/multi-collateral-dai-dai-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .Xrp {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/xrp-xrp-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .Bnb {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/bnb-bnb-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .Sol {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/solana-sol-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .Matic {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/polygon-matic-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .Dot {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
    background-image: url("https://cryptologos.cc/logos/polkadot-new-dot-logo.svg?v=023");
    background-repeat: no-repeat;
    background-size: 1.5rem;
  }
  .inputForm {
    width: 9.5rem;
  }
  
  .fearImg {
    width: "100%";
    resize: "inline";
    background: "black";
  }
  
  .tickerNames {
    margin: 10px;
    padding: 10px;
    background-size: 12px;
  }
  
  .News {
    padding: 10px;
    margin: 10px;
    border: 2px solid #1c6ea4;
    width: 22rem;
    height: 53rem;
    border-radius: 7px;
    box-shadow: 3px 3px 10px 10px #7aacce;
  }
  .width-50 {
    width: 50%;
  }
  
  .tickers-internal {
    padding: 10px;
    margin: 3rem;
    border: 2px solid #1c6ea4;
    border-radius: 20px;
    height: 10rem;
    width: 20rem;
    font-size: 16px;
    box-shadow: 9px 9px 10px 10px #03000f;
    font-size: 1rem;
    box-shadow: 2px 2px 3px 3px #2c3f6d;
  }
  

  .flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    max-width: 100%; /* Limit the container width to the viewport width */
  }
  
  .flex-item {
    flex: grow ; /* Distribute available space equally among items */
    margin: 4rem; /* Add some spacing between items */
    padding: 12px;
    box-shadow: 4px 4px 4px 4px #03000f;
    width: auto;
    height: auto;


    /* You can adjust the max-width and margin as needed */
  }

  .flex-item2 {
    flex: grow ; /* Distribute available space equally among items */
    margin: 10px; /* Add some spacing between items */
    padding: 9px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #03000f;
    width: 12rem;
    height: 10rem;
  }
  .flex-item3 {
    flex: grow ; /* Distribute available space equally among items */
    margin: 10px; /* Add some spacing between items */
    padding: 9px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #03000f;
    width: max-content;
    height: 10rem;
  }

  .Header{
    padding: 1rem;
  }
  /* Menu.css */

/* Menu.css */

/* Menu.css */
.footer a {
  color: black; /* Change link color to black */
  height: 100px;
  font-weight: 800; /* Make font weight twice as bold */
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s; /* Add a smooth color transition on hover */
}
.footer p {
  font-size: 12px; /* Adjust the font size as needed */
}

/* Style for links on hover */
.footer a:hover {
  color: #555; /* Dark gray text color on hover */
  font-weight: 800; /* Retain the bold font weight on hover */
}

.menu {
  position: absolute;
  top: 30px; /* Adjust the top value to move the menu down */
  right: 30px; /* Adjust the right value to move the menu from the right side */
  font-size: 120%; /* Increase font size by 20% */
  padding: 15px; /* Increase padding for spacing */
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 20px; /* Increase margin for spacing */
}

.menu-item a {
  text-decoration: none;
  color: #000; /* Black text color */
  font-weight: bold;
}

.menu-item a:hover {
  color: #555; /* Dark gray text color on hover */
}
